services:
  - type: web
    name: maude-processor
    env: python
    plan: free
    buildCommand: pip install -r requirements-dev.txt
    startCommand: gunicorn -b 0.0.0.0:$PORT app:app --timeout 600 --workers 1 --log-level info
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GUNICORN_CMD_ARGS
        value: "--timeout 600 --workers 1"
      - key: SECRET_KEY
        generateValue: true
      - key: FIREBASE_API_KEY
        sync: false
      - key: FIREBASE_AUTH_DOMAIN
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_STORAGE_BUCKET
        sync: false
      - key: FIREBASE_MESSAGING_SENDER_ID
        sync: false
      - key: FIREBASE_APP_ID
        sync: false
    healthCheckPath: /login
